h1						{
								border: #000000 thin solid;
								padding: 0; margin: 0;
								font-family: arial, helvetica;
								text-align: center;
								font-weight: 700; 
								font-size: 135%;
								color: #770000; 
								background: #EEEE00;
							}
h2						{
								border: #FFFFFF bottom solid;
								padding: 0; margin: 0;
								font-family: arial, helvetica;
								text-align: center;
								font-weight: 700; 
								font-size: 100%;
								color: #770000; 
								background: #EEEE00;
							}

body					{
								background: #999999;
							}
#filebox				{	
								width: 40%; margin-left: 30%;
								border: #000000 thin solid;
								color: #FFFFFF; margin-top: 12.5%;
								background: #007700;
								font-weight: 700; 
								font-family: arial, helvetica;
							}
table 					{
								width: 100%; border: 0; text-align: left; 	
							}
a#files				{
								text-decoration: none; color: #000000;
							}
a#files:active	{
								text-decoration: none; color: #000000;
							}
a#files:visited	{
								text-decoration: none; color: #000000;
							}
a							{
								text-decoration: none; color: #FFFFFF;
							}
a:active				{	
								text-decoration: none; color: #FFFFFF;
							}
a:visited				{
								text-decoration: none; color: #FFFFFF;
							}
a#extra				{
								text-decoration: none; color: #000000;
							}
a#extra:active	{	
								text-decoration: none; color: #000000;
							}
a#extra:visited	{
								text-decoration: none; color: #000000;
							}
#cent					{
								text-align: center;
							}
#extend				{	
								width: 40%; margin-left: 30%;
								border: #000000 thin solid;
								color: #FFFFFF; margin-top: 10%;
								background: #007700;
								font-weight: 700; 
								font-family: arial, helvetica;
							}
#extend audio	{
								width: 100%;
							}
#extend p			{
								text-align: center;
							}